.info-bar {
    background-color: #4b8ed6; /* Cor de fundo - ajuste conforme necessário */
    color: #fff; /* Cor do texto - ajuste conforme necessário */
    padding: 10px;
    text-align: center;
  }